
#site-paragraph {
    font-family:"Times New Roman", Times, serif ;
    font-style: italic;
    font-size: large;
    color: rgb(74, 113, 157);
    text-align: end;
  }

.navbar-custom{
    background-color: rgb(74, 113, 157);
    min-height: 120px;
  }
.navbar-custom .navbar-brand{
  color : white;
}
.navbar-custom .navbar-toggler{
  color : purple;
}
.navbar-custom .navbar-picture{
  position: absolute;
  top: 0%;
  left: 45%;
  width: 200px;
  height: 100px;
}

.container{
  max-width: fit-content;
  margin: 0 auto;
  position: relative;
}

.extra-big {
  text-align: center;
  font-family: serif;
  line-height: 1.5;
}
.custom-footer{
  display : block;
  background-color: rgb(74, 113, 157);
  position: fixed;
  left: 0;
  bottom: 0;
  height : 85px;
  width: 100%;
  color: white;
  text-align: center;
}
.custom-footer .footer-text{
  color: white;
}
#mail{
  color: white;
  text-align: center;
}

.list-group-item {
    font-family:"Times New Roman", Times, serif ;
    font-size: large;
    font-weight: bold;
    color: rgb(74, 113, 157);
    text-align: left;
  }

#pic {
  height: 240px;
  max-width: 400px;
  object-fit: cover;
}

.card-body  {
  max-width: 400px;
  height: 240px;
  font-family: serif;
}

#bike-list{
  max-height: 40px;
}

.two-column-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  position: relative;
  right: 2.5%;
  
}

.purchase-bike {
  background-color: rgb(74, 113, 157); 
  color: white;
  font-family: serif;
}

.sort-button{
  background-color: rgb(74, 113, 157); 
  color: white;
  font-family: serif;
}
.filter-button{
  background-color: rgb(74, 113, 157); 
  color: white;
  font-family: serif;
}
.goBack-button {
  background-color: rgb(74, 113, 157); 
  color: white;
  font-family: serif;
  top: 0%;
}