/* Navbar */
.navbar-custom{
  background-color: rgb(74, 113, 157);
  min-height: 12vh;
  position: relative;
}
.navbar-custom .navbar-picture{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100px;
  cursor: pointer;
}

.navbar-nav .nav-item {
  display: inline;  
  /* margin-right: 30px;  */
  margin-left: 60px;  
  font-size: 20px;
}

.navbar-nav .dropdown-menu {
  margin-top: 0; /* Remove margin-top to align dropdowns */
  position: absolute;
  display: inline block;
  z-index: 9999;
}


.button-container {
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 9999;
}


.navbar-nav {
  display: inline;
}
#sign_up, #log_out {
  position: absolute;
  top: 50%;
  right: 5%;
  display: inline-flex;
  align-items: center;
  margin-left: 10;
  color: white; 
  border-color: white;
}

#sign_up:hover, #log_out:hover {
  color: #000; /* Text color on hover */
  background-color: #fff; /* Background color on hover */
}

#log_in {
  position: absolute;
  top: 50%; 
  right: 10%;
  display: inline-flex;
  align-items: center;
  margin-left: 10; 
  color: white;
  border-color: white;
}

#log_in:hover {
  color: #000; /* Text color on hover */
  background-color: #fff; /* Background color on hover */
}

/* #signup_icon {
position: absolute;
top: 40px; 
display: inline-flex;
align-items: center;
margin-left: 10;
color: white;
height: 20px;
width: 30px;
right: 100px; 
}

#login_icon {
height: 20px;
width: 30px;
margin-right: 10px;  
} */

#bike_icon {
height: 25px;
width: 38px;
align-items: center;
}

#admin_icon {
height: 25px;
width: 38px;
}

#orders_icon {
height: 20px;
width: 30px;
}

#messages_icon {
height: 20px;
width: 30px;
}

#recycle_icon {
height: 25px;
width: 38px;
}

#contact_icon {
height: 20px;
width: 30px;
}

#profile_icon {
height: 20px;
width: 30px;
}


#bikes {
display: inline-flex;
align-items: center;
margin-left: 10px;
font-weight: bold;
}

#applications {
display: inline-flex;
align-items: center;
margin-left: 10px;
}

#recycle {
display: inline-flex;
align-items: center;
margin-left: 10px;
font-weight: bold;
}

#orders {
display: inline-flex;
align-items: center;
margin-left: 10px;
}

#messages {
display: inline-flex;
align-items: center;
margin-left: 10px;
}

#about_us {
display: inline-flex;
align-items: center;
margin-left: 10px;
}

#contact {
align-items: center;
display: flex;
justify-content: center; 
align-items: center; 
}

#my_profile {
display: inline-flex;
align-items: center;
margin-left: 10px;
font-weight: bold;

}
.view-contact2 {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 0 auto; 
  text-align: center;
}

.view-contact2 .card {
  display: inline-block; 
  margin: 20px; 
  vertical-align: top; 
  
}

#admin {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  font-weight: bold;
}

/* Footer */
.custom-footer{
  background-color: rgb(74, 113, 157);
  height : 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-footer2{
  background-color: rgb(74, 113, 157);
  height : 8vh;
  width: 100%;
  margin-top: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text{
  color: white;
}

/* Container */
.container{
  margin-left: 20%;
  margin-right: 20%;
  margin: 0 auto;
  position: center;
  padding-bottom: 85px;
  min-height: 80vh; /* Set minimum height to 100% of viewport height */
}

/* Texts */
.extra-big {
  color: black;
  font-family: serif;
  line-height: 1.5;
  text-align: center;
}
#aboutUs {
  color: black;
  font-family: serif;
  line-height: 1.5;
  text-align: center;
  position: relative;
  max-width: 1000px;
  margin: 0 auto; /* Add this to center horizontally */
}
.allText {
  color: black;
  font-family: serif;
  line-height: 1.5;
  text-align: center;
  
}

/* lists */
.two-column-layout {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
}
#mail{
  color: rgb(74, 113, 157);
  text-align: center;
}
#myBikes-list {
  display:flex;
  width: 100%; 
  margin-right: -2.5%;
  position: relative;
  right: 2.5%;
 }
 #applications-list {
  display:flex;
  width: 100%; 
  margin-right: -2.5%; 
  position: relative;
  right: 2.5%;
 }
 #home-list {
  width: 100%; 
  margin-right: -2.5%; 
  position: relative;
  right: 2.5%;
}
.card-list {
  width: 1000px; 
  margin-right: -2.5%; 
  position: left;
  right: 2.5%;
}

/* Cards */
.application-card{
  margin-bottom: 20px; 
  width: calc(25% - 10px); 
  min-width: 290px;
  max-width: 600px;
 }
.list-group-item {
  color: rgb(74, 113, 157);
  font-family: serif;
  font-size: large;
  font-weight: bold;
  text-align: left;
  }
  /* #contactCard {
    width: 550px; 
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  #contactCardMap {
    width: 550px; 
    margin-bottom: 20px; 
  }
  #contactCard {
    width: 550px; 
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    

  }

  /* Bike cards */
.two-column-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#card {
  /* width: calc(50%-10px);  */
  width: fit-content;
  margin-left: 50;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 25px;
}
#pic {
  height: 240px;
  max-width: 400px;
  object-fit: cover;
  object-position: center 25%; 
  
}
#allBikes-pic {
  height: 190px;
  width: 330px;
  object-fit: cover;
  object-position: center 25%; 

}
.card-body {
  color: black;
  font-family: serif;
  /* max-width: 400px; */
  
}
.allBikes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myBike-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
.bike-title {
  color: black;
  font-family: serif;
  font-size: large;
  font-style: italic;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
 }

/* About us cards */
.us {
max-height: 450px;
filter: grayscale(100%);
margin-top: 20px;
}
.card-img-top{
    width: 100%; 
    height: 288px; 
    object-fit: cover; 
    object-position: center 25%; 
}
#tilt-right {
  transform: rotate(1deg); /* Adjust the degree value as needed */
}

/* Buttons */
.allbuttons {
  background-color: rgb(74, 113, 157); 
  color: white;
  font-family: serif;
}
#filter-button-group {
  position: relative;
  left: 1%; 
  /* 30% */
}
.goBack-button {
  position: relative;
  left: 41%;
}
#selectSort {
  color: black;
  font-family: serif;
}
#contactUsButton {
  position: relative;
  left: 50%;
  /* top: 80%; */
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 30px;
}
#addNewBikeButton{
  position: relative; 
  left: 0.52%;
  margin-bottom: 15px;
  background-color: rgb(74, 122, 72);
 }
 #approve-button{
  position: absolute;
  left: 70%;
  top: 87%;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: smaller;
  background-color: rgb(74, 122, 72);
 }
 #delete-button{
  position: absolute;
  left: 78%;
  top: 90%;
  background-color: rgb(155, 70, 70);
  margin-right: 10px;
  margin-bottom: 5px; 
  font-size: smaller;
}
 #readMore-button{
  position: absolute;
  left: 70%;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: smaller;
 }

/* Cancel and success */
#cancel_text1{
  font-family: serif ;
  font-size: large;
  text-align: center;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
 }
 #cancel_text2{
  font-family: serif ;
  font-size: large;
  text-align: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
 }
 #cancel_text3{
  font-family: serif ;
  font-size: large;
  text-align: center;
  position: fixed;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
 }
 .bike-rider{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 480px;
  height: 360px;
  transform: translate(-50%, -50%);
 }
 .favorite-button {
  /* Add your button styles here */
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  /* Add other styles as needed */
}

.favorite-button img {
  /* Add styles for the image */
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
}
